---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5 flex flex-col sm:flex-row sm:justify-between items-start">
    <div class="text-3xl w-full font-bold">Profile</div>
    <div class="flex gap-3 mt-3 sm:mt-0">
      <a
        href="/Resume-2025.pdf"
        target="_blank"
        class="bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-1.5 px-3 text-sm rounded-md flex items-center whitespace-nowrap"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-4 w-4 mr-1"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z"
            clip-rule="evenodd"></path>
        </svg>
        View CV
      </a>
    </div>
  </div>

  <div class="mb-10 text-justify">
    I’m a final year Software Engineering student at the University of
    Canterbury, graduating Nov 2025. I’m passionate about meeting new people,
    working in a team and learning anything new. I am looking for graduate role
    opportunities for 2026.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Fourth Year Software Engineering (BE Hons)"
      subtitle="Feb 2022 – Nov 2025 at University of Canterbury"
    >
      Completed courses related to data structures & algorithms, relational
      databases, network security, web architecture and data science.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineer Intern/Junior Software Developer"
      subtitle="From Nov 2024 to Present at Kiwa Digital"
    >
      <ul class="list-disc mt-2 ml-6">
        <li>
          Developed key modules for an AI-powered SaaS platform supporting
          Indigenous language and cultural preservation using Angular,
          TypeScript, Java, and MySQL.
        </li>
        <li>
          Implemented REST endpoints in Java (Spring Boot) to serve Angular
          frontend modules.
        </li>
        <li>
          Co-developed an internal API in collaboration with a partner
          organization to manage user-generated files and securely integrate
          them with an external AI service.
        </li>
        <li>
          Explained technical work to non-technical company leaders to support
          informed decision-making and project alignment.
        </li>
        <li>
          Contributed to deploying and managing the application using AWS
          Elastic Beanstalk, with EC2, S3, and CodeBuild for infrastructure and
          CI/CD.
        </li>
      </ul>
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Projects</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement title="Swap Bytes" subtitle="Rust">
      A secure peer-to-peer file swapping application built with Rust and
      libp2p. I developed it to improve my Rust skills, which is a new language
      to me.
    </TimeLineElement>
    <TimeLineElement
      title="Dead Man’s Switch"
      subtitle="Rust, TypeScript, React, Node.js, Secret Network"
    >
      A decentralized application for Secret Network that allows users to
      create, manage, and interact with "Dead Man's Switch" smart contracts.
      Based on a CosmWasm smart contract.
    </TimeLineElement>
    <TimeLineElement
      title="Barrow Buddy"
      subtitle="Java, JavaScript, HTML, CSS"
    >
      Social media website for gardeners built with Java Spring & Thymeleaf.
      Tested code with Cucumber and JUnit5. Developed in a team of seven as a
      part of my whole year software engineering workshop course, following the
      Scrum framework.
    </TimeLineElement>
    <TimeLineElement
      title="Petition Finder"
      subtitle="JavaScript, React, TypeScript, Node.js"
    >
      A website where users can register to create and support petitions.
      Developed using Node.js and React for an assignment from my web
      architectures course.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6 mb-10">
    <li>Python</li>
    <li>Java</li>
    <li>C</li>
    <li>Rust</li>
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>SQL</li>
    <li>Git</li>
    <li>AWS</li>
    <li>NumPy</li>
    <li>Linux</li>
    <li>Node.js</li>
    <li>React</li>
    <li>Angular</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Interests</div>
  </div>

  <div class="mb-10 text-justify">
    I work on some personal projects. When I’m not thinking about software, I
    enjoy going to the gym, socializing with my mates, working on my motorbike,
    and getting outside, whether it’s for a hike or a trip to the beach.
  </div>
</BaseLayout>
